
#stf {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc; /* Add border property */
  border-radius: 5px;
  font-family: Arial, sans-serif;
}
  header{
      border:solid 2px black;
      height:45px;
  }
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
select,
input[type="date"] ,
input[type="number"]{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}


input[type="submit"] {
  
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}


#button {

padding: 1.1em 2em;
background: none;
border: 2px solid #fff;
font-size: 15px;
color: #131313;
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s;
border-radius: 15px;
background-color: #ecd448;
font-weight: bolder;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

#button:before {
content: "";
position: absolute;
width: 100px;
height: 120%;
background-color: salmon;
top: 50%;
transform: skewX(30deg) translate(-150%, -50%);
transition: all 0.5s;
}

#button:hover {
background-color:#ecd448;
color: #fff;
box-shadow: 0 25px 25px #ecd448;
}

#button:hover::before {
transform: skewX(30deg) translate(150%, -50%);
transition-delay: 0.1s;
}

#button:active {
transform: scale(0.9);
}
body{
background-image:url(pic/cambg_7.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
}
#bordr {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
